<% cont = 0 %>
<% @amostras.each do |amostra| %>
<% amostra.lacres.reverse.each do |lacre| %>
<% if (cont%3 == 0) and (cont != 0) %>
	<div style="page-break-before: always"></div>
<% end %>
<% cont = cont + 1 %>
<table width="1000px" height="150px" border="1px" bordercolor="#000">
	<tr>
		<td><b>
		<p>
                       <img width="100px" src="/logo.png" > <br>
			<font size="2">Terminal de Paranaguá</font>
		</p> </b></td>

		<td><b>
		<p>
			Amostra / Sample:
		</b> <%= amostra.id %> </p> </td>

		<td><b>
		<p>
			Lacre / Seal:
		</b> <%= lacre.numero %> </p> </td>

		<td><b>
		<p>
			Operação / Operation:
		</b> <%= amostra.operacao.descricao %> </p> </td>

		<td><b>
		<p>
			Finalidade / Object:
		</b> <%= lacre.finalidade.descricao %> </p> </td>

	</tr>

	<tr>
		<td><b>
		<p>
			Origem / Source:
		</b> <%= amostra.origem.descricao %> </p> </td>

		<td><b>
		<p>
			Data / Date:
		</b> <%= formatarDataHora(amostra.data) %> - L.T.</p> </td>

		<td><b>
		<p>
			Responsável / Load Master:
		</b> <%= amostra.responsavel.nome %> </p> </td>

		<td><b>
		<p>
			Produto / Product:
		</b> <%= amostra.produto.nome_curto %> </p> </td>

		<td><b>
		<p>
			Tipo amostra / Sample type:
		</b> <%= amostra.tipo_amostra.descricao %> </p> </td>
	</tr>
</table>



<table width="1000px" height="92px" border="0px" bordercolor="#000">
	<tr>
		<td>
		<b><p><font color="red" size="2"> 
			<% if amostra.produto.temBenzeno? %>
			ESTE PRODUTO CONTÉM BENZENO. / This product contains benzene. 
			<% else %>
			<% end %>
			Composição química: hidrocarbonetos com cadeias carbônicas de C4 a C12 e faixa de ebulição de -20 a 230ºC.
                        Líquidos e vapores extremamente inflamáveis.
                        Pode provocar câncer. 
                        Mantenha afastado de calor, faísca, chama aberta, superfícies quentes.
                        Telefone para emergências: 0800 728 9001 ou 8800 </font></p> 

	      </b>  
              </td>
              <td>
	      <b>
                       <img src="/perigo.png">

            
	      </b>  
              </td>
	</tr>
</table>

<table width="1000px" height="92px" border="3px" bordercolor="#000">
	<tr>
		<td><b>
		<p>
			Obs:
		</b> <%= amostra.observacao %> </p> </td>
	</tr>
</table>

<table width="1000px" border="0px" >

	<tr>
		<td><b>
		<p>
			Terminal:
			<br/>
			<br/>
			<br/>
			<br/>
			_______________________________
			
		</b> </p> </td>

		<td><b>
		<p>
			Navio / Vessel:
			<br/>
			<br/>
			<br/>
			<br/>
			_______________________________
			
		</b> </p> </td>

		<td><b>
		<p>
			Inspetora / Surveyor:
			<br/>
			<br/>
			<br/>
			<br/>
			_______________________________
			
		</b> </p> </td>
	</tr>
</table>



<%end%>
<%end%> 
<script>
        document.addEventListener("DOMContentLoaded", function() {
            const highlightTextBetween = (startText, endText) => {
                const elements = document.querySelectorAll('p');
                elements.forEach(p => {
                    const regex = new RegExp(`${startText}(.*?)${endText}`, 'g');
                    p.innerHTML = p.innerHTML.replace(regex, `${startText}<span style="background-color: #FFFF00">$1</span>${endText}`);
                });
            };

            highlightTextBetween('Tanque / Tank:', 'Nome do navio / Vessel:');
        });
</script>
