<%= render 'amostras/menu' %>
<%= render 'layouts/final_menu' %>
<%= render 'layouts/notificacoes' %> 
<h1>Amostras</h1>


<%=  form_tag('/buscar_amostras') do %>
Buscar amostras salvas em
<%= text_field_tag :data_inicial %>
até
<%= text_field_tag :data_final %>
<input class='actions' value= 'Buscar' type='submit' />
<% end %>



<%=  form_tag('/relatorios/gerar_relatorio_de_amostras') do %>
<br>
<table cellpadding="0" cellspacing="0" border="0" class="display dataTable" >
	<thead>
		<tr>
			<th></th>
			<th>Número</th>
			<th>Data e hora</th>
			<th>Responsável</th>
			<th>Operação</th>
			<th>Observação</th>
			<th>Origem</th>
			<th>Tipo</th>
			<th>Produto</th>
			<th>Lacre</th>
		</tr>
	</thead>
	<tbody>
		<% @amostras.sort_by{|amostra| [amostra.id]}.reverse.each do |amostra| %>
		
		
		<% if amostra.amostraEncontrada == "sim" %>
			<tr>
		<% elsif amostra.amostraEncontrada == "não encontrada atual" %>
			<tr class="gradeC">
		<% elsif amostra.amostraEncontrada == "não encontrada antiga" %>
			<tr class="gradeX">
		<% end %>
						
			<td><%= check_box_tag amostra.id, :id, amostra.pertenceAUmGrupo?(@amostras) %></td>
			<td><%= link_to amostra.id, amostra %></td>
			<td><%= formatarDataHora(amostra.data) %></td>
			<td><%= amostra.responsavel.nome %></td>
			<td><%= amostra.operacao.descricao %></td>
			<td><%= amostra.observacao %></td>
			<td><%= amostra.origem.descricao %></td>
			<td><%= amostra.tipo_amostra.descricao %></td>
			<td><%= amostra.produto.nome_curto %></td>
			<td><% amostra.lacres.each do |lacre| %>
			<%= lacre.finalidade.descricao %>: <%= lacre.numero %> 
			</br>
			</br>
			<% end %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<br>
<%= select_tag :relatorio, "<option selected>Gerar etiquetas</option><option>Gerar recibo de amostras</option>".html_safe%>

<input class='actions' value= 'Gerar' type='submit' />
<% end %>

